<!-- Navbar -->
<nav class="navbar navbar-expand-md">
    <div class="container">
        <a class="navbar-brand fw-bold brand-title" href="/">مدونات آفاق</a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
            aria-label="Toggle navigation" id="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ms-auto gap-1 mb-1 mb-md-0">
                <a href="/" class="btn btn-outline-dark btn-small">الرئيسية</a>
                <a href="/blogs" class="btn btn-outline-dark btn-small">المدونات</a>
                <a href="/about" class="btn btn-outline-dark btn-small">عن المنصة</a>
                <% if (typeof hideRequestStatus === 'undefined' || !hideRequestStatus) { %>
                    <a href="/blog-request-status" class="btn btn-outline-dark btn-small">حالة الطلب</a>
                <% } %>
            </ul>
            <div class="d-flex align-items-center gap-2">
                <a href="/login" class="btn btn-outline-dark-log px-3 py-2 text-nowrap">تسجيل الدخول</a>
                <% if (typeof showRegisterButton !== 'undefined' && showRegisterButton) { %>
                    <a href="/register" class="btn btn-primary px-3 py-2 text-nowrap">إنشاء حساب</a>
                <% } else { %>
                    <a href="/blog-request" class="btn btn-primary px-3 py-2 text-nowrap">طلب إنشاء مدونة</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
