<!-- Navbar -->
<nav class="navbar navbar-expand-md">
    <div class="container">
        <a class="navbar-brand fw-bold brand-title" href="/">مدونات آفاق</a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
            aria-label="Toggle navigation" id="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
               <div class="collapse navbar-collapse justify-content-between" id="mainNavbar">
            <div class="d-flex justify-content-center w-100">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a href="/" class="btn btn-outline-dark btn-small">الرئيسية</a></li>
                    <li class="nav-item"><a href="/blogs" class="btn btn-outline-dark btn-small">المدونات</a></li>
                    <li class="nav-item"><a href="/about" class="btn btn-outline-dark btn-small">عن المنصة</a></li>
                    <% if (typeof hideRequestStatus === 'undefined' || !hideRequestStatus) { %>
                        <li class="nav-item"><a href="/blog-request-status" class="btn btn-outline-dark btn-small">حالة الطلب</a></li>
                    <% } %>
                </ul>

            </div>
            <div class="d-flex align-items-center gap-2">
                <a href="/login" class="btn btn-outline-dark-log px-3 py-2 text-nowrap">تسجيل الدخول</a>
                <% if (typeof showRegisterButton !== 'undefined' && showRegisterButton) { %>
                    <a href="/register" class="btn btn-primary px-3 py-2 text-nowrap">إنشاء حساب</a>
                <% } else { %>
                    <a href="/blog-request" class="btn btn-primary px-3 py-2 text-nowrap">إنشاء مدونة</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
