body {
    font-family: 'Tajawal', sans-serif;
    background-color: #f8f9fa;
}

.form-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


.ql-editor {
    direction: rtl;
    text-align: right;
    font-family: 'Tajawal', sans-serif;
    font-size: 18px;
}

.ql-toolbar {
    direction: ltr !important;
}

#editor {
    height: 200px;
    background-color: white;
}

.ql-editor blockquote {
    border-left: none !important;
    border-right: 4px solid #ccc !important;
    padding-left: 0 !important;
    padding-right: 16px !important;
    direction: rtl;
    text-align: right;
}

.ql-editor ul,
.ql-editor ol {
    padding-right: 1.5em;
    /* شوية مساحة داخلية على اليمين */
    padding-left: 0 !important;
    /* منع المسافة على اليسار */
    direction: rtl;
    text-align: right;
    list-style-position: inside;
    /* حتى يجي الترقيم/النقطة جوّا */
}