body {
  font-family: 'Tajawal', sans-serif;
  background-color: #f9f7f0;
  color: #222;
  line-height: 1.6;
}

.mainNavbar {
  background-color: #000000;
  padding: 1rem 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.brand-title {
  font-size: 1.6rem; /* حجم الخط */
  font-weight: 700;  /* سماكة الخط */
  font-family: 'Tajawal', sans-serif;
  color: #8c4a21ca;
}
.hero {
  text-align: center;
  padding: 8rem 2rem;
}
.hero h1 {
  font-size: 3.6rem;
  font-weight: 650;
}
.hero .highlight {
  color: #8c4a21ca;
}
.hero p {
  color: #777;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 1.1rem 0;
}
.btn-primary {
  background-color: #8c4a21ca; 
  border: none;
  padding: 0.6rem 1.5rem; 
  font-size: 0.9rem;
}

.btn-outline-dark {
  border-color: #0000003b;
  color: #131313ca;
  font-size: 0.9rem; 
  padding: 0.6rem 1.5rem; 
}

.btn-outline-dark:hover {
  background-color: #470539c5;
  color: #fff;
  border-color: #0000003b;
}
.btn-small {
  padding: 0.4rem 1rem;
  font-size: 0.85rem;
}

.section {
  max-width: 1200px;
  margin: 3rem auto;
  padding: 0 1rem;
  
}
.section-title {
  text-align: right;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  font-weight: 700;
  text-align: center;
}

.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  text-align: center;
}
.step {
  background-color: #a7a4a43a;
  padding: 1.5rem 1rem;
  border-radius: 8px;
  text-align: center;
}
.step .number {
  display: inline-block;
  background-color: #8c4a21ca;
  color: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  font-weight: 700;
}
.cta {
  text-align: center;
  padding: 3rem 1rem;
}
footer {
  background-color: #a7a4a43a;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  color: #777;
  
}
